table {
    border-collapse: collapse;
	width: 100%;
	
}

table, th, td {
    border: 1px solid black;
	background-color: #98F5FF;
	padding: 10px;
	text-align: center;
}
body {
	text-align: center;
	background-color: #C1CDCD;
}

th {
    height: 50px;
}